/* site header */

.site-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  position: sticky;
  top: 0;
  background: var(--background);
}

.site-header__brand {
  font-size: var(--size-700);
  font-weight: 700;
  text-decoration: none;
}

.site-header__arrow {
  font-size: var(--size-700);
}

/* post list */

.post-list__item {
  text-decoration: none;
}

/* color mode toggle button */

.color-mode-toggle {
  border: none;
  border-radius: 4px;
  padding: var(--size-100);
}
