<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{ title }}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
      href="https://fonts.googleapis.com/css2?family=Asap:wght@400;700&display=swap"
      rel="stylesheet"
    />  
    <link rel="stylesheet" href="{{ '/css/reset.css' | url }}" />
    <link rel="stylesheet" href="{{ '/css/base.css' | url }}" />
    <link rel="stylesheet" href="{{ '/css/utilities.css' | url }}" />
  </head>
  <body>
    <header class="wrapper">
      <h1>{{ title }}</h1>
    </header>
    <main class="wrapper">
      <article class="flow">{{ content | safe }}</article>
    </main>
    <footer class="wrapper">
      <p>
      &copy; {{ helpers.currentYear() }} <a href="https://github.com/taphill">Taylor Phillips</a>
      </p>
    </footer>
  </body>
</html>
