<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ '/css/reset.css' | url }}" />
    <link rel="stylesheet" href="{{ '/css/base.css' | url }}" />
    <link rel="stylesheet" href="{{ '/css/utilities.css' | url }}" />
    <link
      href="https://unpkg.com/prismjs@1.20.0/themes/prism.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <h1>{{ title }}</h1>
    </header>
    <main>
      <article>{{ content | safe }}</article>
    </main>
    <footer>
      <p>
        &copy; 2022 <a href="https://github.com/taphill">Taylor Phillips</a>
      </p>
    </footer>
    <script src="https://unpkg.com/prismjs@v1.20.0/components/prism-core.min.js"></script>
    <script src="https://unpkg.com/prismjs@v1.20.0/plugins/autoloader/prism-autoloader.min.js"></script>
  </body>
</html>
