<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{ title }}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Asap:wght@400;700&display=swap"
      rel="stylesheet"
    />
    {% set css %}
      {% include "css/reset.css" %}
      {% include "css/base.css" %}
      {% include "css/utilities.css" %}
      {% include "css/blocks.css" %}
    {% endset %}
    <style>
      {{ css | cssmin | safe }}
    </style>
  </head>
  <body>
    <div id="root">
      {% include "partials/site-header.njk" %}
      <main tabindex="-1" id="main-content">
        {% block content %}{% endblock %}
      </main>
      {% include "partials/site-footer.njk" %}
    </div>
  </body>

  {% set js %}
    {% include "scripts/main.js" %}
  {% endset %}
  <script>
    {{ js | jsmin | safe }}
  </script>
</html>
