:root {
  --sans-font: "Asap", sans-serif;

  --mono-font: Consolas, source-code-pro, Menlo, Monaco, "Courier New",
    monospace;

  --base-size: 1rem;

  --size-100: calc(var(--base-size) * 0.512);
  --size-200: calc(var(--base-size) * 0.64);
  --size-300: calc(var(--base-size) * 0.8);
  --size-400: var(--base-size);
  --size-500: calc(var(--base-size) * 1.25);
  --size-600: calc(var(--base-size) * 1.563);
  --size-700: calc(var(--base-size) * 1.953);
  --size-800: calc(var(--base-size) * 2.441);
  --size-900: calc(var(--base-size) * 3.052);

  --color-bg: white;
  --color-fg: #5f4b66;
  --color-text: black;
  --color-grey-1: #d4d4d6;
  --color-grey-2: #a9aaad;
  --color-grey-3: #7e8085;
  --color-grey-4: #52565c;
  --color-primary: #005248;
}

/* @media (prefers-color-scheme: dark) { */
/*   :root { */
/*     --color-bg: #5f4b66; */
/*     --color-fg: white; */
/*     --color-text: white; */
/*     --color-primary: #f9f871; */
/*     --color-secondary: #ffc367; */
/*   } */
/* } */

body {
  color: var(--color-text);
  background: var(--color-bg);
  font-family: var(--sans-font);
  font-size: var(--size-400);
}

h1,
h2,
h3,
h4 {
  color: var(--color-fg);
  font-weight: 600;
  max-width: 25ch;
  line-height: 1.1;
}

h1 {
  font-size: var(--size-800);
  color: var(--color-primary);
}

h2 {
  font-size: var(--size-700);
}

h3 {
  font-size: var(--size-600);
}

h4,
h5,
h6 {
  font-size: var(--size-500);
}

a {
  color: var(--color-primary);
}

ul {
  list-style: none;
  padding: 0;
}

header,
footer {
  margin: 5rem 0;
}

pre {
  font-size: 0.85rem;
  border: none;
  border-radius: var(--size-100);
}

pre[class*="language-"] {
  min-width: 100%;
  overflow: auto;
  padding: var(--size-400);
  margin-left: calc(var(--size-400) * -1);
  margin-right: calc(var(--size-400) * -1);
}

pre[class*="language-"],
code[class*="language-"] {
  color: #fff;
  background: black;
  font-family: var(--mono-font);
  font-feature-settings: normal;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  margin-bottom: 0;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}
