<a class="[ skip-link ] [ button ]" href="#main-content">Skip to content</a>
<header role="banner" class="site-header wrapper-header">
  <a href="/" aria-label="{{ site.name }} - home" class="site-header__brand">
    {% if post %}
      <span class="site-header__arrow">&lt;- </span>posts
    {% else %}
      Taylor Phillips
    {% endif %}
  </a>
  <button class="color-mode-toggle">
    Dark mode
  </button>
</header>
